
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Mikrofest", root_path(), class: "navbar-brand" %>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "Bøger", show_all_products_path(), class: "#{"active" if current_page?(show_all_products_path())}" %> </li>
        <li> <%= link_to "Forlag", show_all_publishers_path(), class: "#{"active" if current_page?(show_all_publishers_path())}" %> </li>
        <li> <%= link_to "Om", about_path(), class: "#{"active" if current_page?(about_path)}" %> </li>
        <li> <%= link_to "Kontakt", contact_path(), class: "#{"active" if current_page?(contact_path())}" %> </li>
        <li>
          <button type="button" class="btn btn-search" aria-label="Left Align">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
