<!DOCTYPE html>
<html>
  <head>
    <title>Mikrofest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    
  </head>
  <body class="site-wrapper"> 
    <%= render partial: 'shared/devise_notice_alert', locals: {notice: notice, alert: alert} %>
    <%= render partial: 'shared/admin_navbar' if user_signed_in? %>
    <%= render partial: 'shared/navbar' %>
      <div class="site-content container">
        <%= yield %>
      </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
